* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(270deg, #373b44 0%, #4286f4 100%);
}

.item {
  padding: 20px;
  margin: 10px;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.item.large {
  font-size: 2.5rem;
}

.item.small {
  font-size: 1.25rem;
}

/* Flexbox Styles */

.elements {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex: 1 1 calc(33.3333% - 20px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
