* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(270deg, #373b44 0%, #4286f4 100%);
}

a {
  color: white;
}

p {
  font-weight: bold;
}

.pricing-grid {
  max-width: 750px;
  margin: 0 auto;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan ul li {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding: 10px;
}

.plan ul li:last-child {
  border-bottom: none;
}

.plan a {
  text-decoration: none;
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 4px;
}

.plan h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.price {
  font-size: 3em;
  margin: 10px 0;
}

/* Flexbox Styles */

.pricing-grid {
  display: flex;
  align-items: center;
}

.plan {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plan a {
  margin-top: auto;
}
