:root {
  --light-blue: #05cbe9;
  --dark-blue: #111d4a;
}

body {
  margin: 0;
  font-family: "Blinker", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.card {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  .card-img {
    height: 300px;
  }
}

.card-img {
  object-fit: cover;
  flex-basis: 200px;
  min-width: 0;
  min-height: 0;
}

.card-content {
  padding: 1em;
}

.card-title {
  font-size: 1.75rem;
  color: var(--light-blue);
  margin: 0;
}

.card-body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3em;
}

.card-btn {
  font-size: 1.25rem;
  background-color: var(--light-blue);
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 700;
  padding: 0.35em 1em;
  letter-spacing: 1px;
}

.card-read-time {
  margin: 0;
  opacity: 0.6;
  line-height: 1;
}

.card-read-time span {
  font-weight: 700;
  display: block;
  font-size: 1.25em;
}
