:root {
  --light-blue: #05cbe9;
  --dark-blue: #111d4a;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Blinker", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.card {
  display: grid;
  grid-template: 200px 1em auto auto 100px 1em / 1em auto auto 1em;
  width: 90%;
  max-width: 800px;
  background-color: var(--dark-blue);
}

.card-img {
  object-fit: cover;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 1.75rem;
  color: var(--light-blue);
  margin: 0;
  grid-column: 2 / -2;
  grid-row: 3;
}

.card-body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  grid-column: 2 / -2;
  grid-row: 4;
}

.card-btn {
  font-size: 1.25rem;
  background-color: var(--light-blue);
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 700;
  padding: 0.35em 1em;
  letter-spacing: 1px;
  align-self: end;
  justify-self: end;
  grid-row: 5;
  grid-column: 3;
}

.card-read-time {
  margin: 0;
  opacity: 0.6;
  line-height: 1;
  align-self: end;
  grid-row: 5;
  grid-column: 2;
}

.card-read-time span {
  font-weight: 700;
  display: block;
  font-size: 1.25em;
}
