/* Color CSS variables */

:root {
  --whitish: #f8f8f8;
  --grey: #707070;
  --lightblue: #1792d2;
  --darkblue: #143774;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

/* Typography */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--darkblue);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--lightblue);
}

strong {
  font-weight: 700;
}

a:hover,
a:focus {
  color: var(--darkblue);
}

.subtitle {
  font-weight: 700;
  color: var(--lightblue);
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

.article-info,
.article-read-more {
  font-size: 0.875rem;
}

.article-read-more {
  font-weight: 700;
  color: var(--lightblue);
  text-transform: uppercase;
  text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--darkblue);
  text-decoration: underline;
}

/* Layout */

header {
  background-color: var(--whitish);
  padding: 2em 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}

.container-main {
  display: flex;
}

footer {
  background-color: var(--darkblue);
  text-align: center;
}

/* Navigation */

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--lightblue);
}

.current-page {
  border-bottom: 2px solid var(--grey);
}

.current-page:hover,
.current-page:focus {
  color: var(--grey);
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}
