/* Color CSS variables */

:root {
  --whitish: #f8f8f8;
  --grey: #707070;
  --lightblue: #1792d2;
  --darkblue: #143774;
  --lightgrey: #efefef;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--darkblue);
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--lightblue);
}

strong {
  font-weight: 700;
}

a:hover,
a:focus {
  color: var(--darkblue);
}

.subtitle {
  font-weight: 700;
  color: var(--lightblue);
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

.article-info,
.article-read-more {
  font-size: 0.875rem;
}

.article-read-more {
  font-weight: 700;
  color: var(--lightblue);
  text-transform: uppercase;
  text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--darkblue);
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}

/* Layout */

header {
  background-color: var(--whitish);
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2.5em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  background-color: var(--darkblue);
  text-align: center;
}

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 70%;
  }

  aside {
    width: 25%;
    min-width: 200px;
    margin-left: 1em;
  }
}

/* Navigation */

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--lightblue);
}

.current-page {
  border-bottom: 2px solid var(--grey);
}

.current-page:hover,
.current-page:focus {
  color: var(--grey);
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}

/* Articles */

.article-featured {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 67%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    order: -2;
    width: 100%;
    min-height: 250px;
    object-fit: cover;
  }

  .article-image-left {
    object-position: left;
  }

  .article .article-info {
    order: -1;
  }
}

/* Widgets */

.sidebar-widget {
  border: 20px solid var(--lightgrey);
  margin-bottom: 2em;
  padding: 1em;
}
