* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  text-align: center;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  margin: 0;
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  order: -1;
}

strong {
  font-weight: 900;
}

/* Header */

header {
  background-color: #404040;
  background-image: url(../images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
}

/* Main */

main {
  padding: 2em 1em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

/* Media queries */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .site-container {
    display: flex;
  }

  header,
  main {
    width: 50%;
    min-height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-header {
    height: 100%;
  }
}
